@CHARSET "ISO-8859-1";

h1 {
    color: white;  
    font-family: impact;    
    text-align: center;
   
      font-size: 60px; 
   
}

body {
    background-color: lightgrey;
}


h3 {
	font-size:40px;
	color:blue;
	font-style: italic;
	font-family: fantasy;
 	text-align: center;
 
}
h5{
	  color: #8080ff;  
   	  font-family: impact;
      font-size: 20px;  
   	  text-align: left;
}
h6{
	  color: #8080ff;  
   	  font-family: impact;
      font-size: 20px;  
   	  text-align:right;
}

